Eigen
voro-plus-plus
INSTALL-DIR
BUILD-DIR
build
.vscode
__pycache__
pybind11
k_eff_porosity
map_L_RVE_resolution_*
spherical_inclusions
Result*
amitex_simulation
DeltaScan_Results
Distributed_Test
Geometry_Scan